/* HeroThreeSection.module.css */

.row {
  padding: 100px 0 50px 0;
  max-width: 1200px;
}

.header_div {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 120px;
}

.header_div h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.header_div span {
  color: rgb(248, 63, 63); /* Couleur spécifiée */
}

.header_div p {
  color: rgb(160, 159, 159);
  margin-top: 20px;
  font-size: 20px;
}

/* .row_dish {
  border: 1px var(--bordercolor);
} */

.dish_content {
  padding: 0 30px;
}

.dish_card {
  padding: 20px;
  border-radius: 60px;
  background-color: var(--primarybackground);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 370px; /* Hauteur maximale de chaque carte */
  margin-bottom: 50px;
  width: 330px;
}

/* Styles pour le contenu de la carte */
.dish_content {
  padding: 0 30px;
}

/* Fixez la taille des composants à l'intérieur de chaque carte */
.dish_content h3 {
  font-size: 20px; /* Taille de police pour le titre */
}

.dish_content p {
  font-size: 16px; /* Taille de police pour le contenu */
}

.dish_col img {
  width: 220px;
  border-radius: 120px;
  height: 220px;
  margin-top: -60px;
  margin-right: -200px;
  object-fit: cover;
  border: 10px solid rgb(248, 63, 63);
  margin-bottom: 20px;
}

/* Nouveau style pour le filtre */
/* HeroThreeSection.module.css */

/* Nouveau style pour les boutons de filtre */
.filter_section {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.filter_button {
  color: black;

  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 30px;
  padding: 10px 10px;
  margin-right: 70px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Nouvelle propriété pour enlever la bordure */
}

.filter_button:hover,
.filter_button:focus {
  background-color: rgb(248, 63, 63);
  color: white;
}

/* Ajoutez un style pour le bouton actif */
.active_button {
  background-color: rgb(248, 63, 63);

  /* Ajout de la couleur du texte */
}

/* Style spécifique pour les boutons de filtre animés */
.filter_button_motion {
  width: 100px; /* Largeur réduite */
  height: 120px; /* Hauteur plus grande que la largeur */
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.filter_button_motion:hover {
  transform: scale(1.1);
  background-color: rgb(248, 63, 63);
  color: white;
}

.filter_icon {
  width: 40px; /* Ajuster la largeur de l'icône */
  height: 40px; /* Ajuster la hauteur de l'icône */
  background-color: rgb(248, 63, 63);
  border-radius: 50px; /* Ajuster le rayon de la bordure pour créer un cercle */
  margin: 20px;
  padding: 10px;
}
.default_focus_style {
  background-color: rgb(248, 63, 63);
  color: white;
}

.default_icon_style {
  background-color: white;
}
.filter_button:hover .filter_icon {
  background-color: white;
}

.filter_button:focus .filter_icon {
  background-color: white;
}

@media only screen and (max-width: 991px) {
  .row_dish {
    border-bottom: none;
  }

  .dish_col {
    border: none;
    border-bottom: 1px solid var(--bordercolor);
    padding: 30px 0;
  }
}

@media only screen and (max-width: 576px) {
  .header_div h2 {
    font-size: 36px;
  }

  .header_div p {
    font-size: 16px;
  }
}
