/* form.module.css */

.form-container {
  width: 100%;
  max-width: 600px;
  margin: auto;

  margin-bottom: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  max-height: 500px;
  margin-top: 100px;
}

.text_header {
  font-size: 40px;
  font-weight: 700;
}
.text_modal_header {
  font-size: 40px;
  font-weight: 700;
}

.text_modal_header::after {
  content: '';
  display: block;
  height: 4px;
  width: 130px;
  background-color: var(--primaryitemcolor);
}

.about_modal {
  padding: 30px;
}

.modal {
  background-color: var(--primarybackground);
}

.form-group {
  margin-bottom: 20px;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons .btn_style {
  background-color: var(--light);
  border: 1px solid rgb(245, 10, 10);
  color: rgb(245, 10, 10);
  transition: background-color 0.3s;
}

.buttons .btn_style2 {
  border: 1px solid var(--primaryitemcolor);
}

.buttons .btn_style:hover {
  background-color: rgb(245, 10, 10);
  color: var(--light);
}

@media only screen and (max-width: 991px) {
  .form-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .text_header {
    font-size: 36px;
  }
}
