.cart__button {
  color: var(--light);
  padding: 10px 0;
  width: 90px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s;
  position: relative; /* Permet de positionner le badge */
}

.cart__button i {
  margin-right: 100px;
  font-size: 18px;
  color: black;
}

.cart__button .badge {
  position: absolute;
  top: 3px;
  right: 60px;
  background: #df2020;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__button:hover {
  transform: scale(1.1);
}

.bump.cart__button {
  animation: bump 0.3s ease 0s 1 normal;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
