.navbar {
  background-color: var(--primarybackground);
  padding: 10px 5rem;
}

.navbar_brand {
  cursor: pointer;
}
.navbar_brand img {
  width: 100px;
}

.navbar .toggle {
  border: none;
}

.navbar .toggle:focus {
  border: none;
  box-shadow: none;
}

.navbar .nav__linkgroup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  gap: 20px;
}

.navbar .nav__link {
  font-size: 18px;
  font-weight: 500;
  color: rgb(160, 159, 159);
  transition: 0.3s;
  margin-left: auto;
}

.navbar .nav__link:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar .nav__link .active {
  color: black !important;
  text-decoration: none;
}

.navbar .lastnav__link {
  color: var(--primaryitemcolor);
}

.navbar .nav__link:hover {
  color: black;
}
/* styles.css */
/* styles.css */
.loginLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgb(182, 181, 181); /* Couleur de la bordure */
  padding: 5px 10px;
  border-radius: 5px;
  gap: 5px;
  transition: transform 0.3s ease; /* Transition pour l'effet de transformation */
}

.loginLink:hover {
  transform: scale(1.1);
}

.loginIcon {
  font-size: 20px; /* Taille de l'icône */

  margin-right: 5px; /* Espacement entre l'icône et le texte */
  color: black;
}

.loginText {
  font-size: 16px;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 7px 1rem;
  }

  .navbar .nav__linkgroup {
    position: relative;
    display: block;
  }
}
