.dish_content {
  padding: 0 30px;
}

.dish_content .dish_image_div {
  text-align: center;
}

.dish_content .dish_text_div {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  color: var(--tertiarytextcolor);
}

.dish_content .dish_price_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
  gap: 50px;
}

.dish_content .dish_price_div p {
  font-size: 25px;
  font-weight: 500;
}

.dish_content .dish_price_div button {
  background-color: rgb(248, 63, 63);
  color: var(--primarybackground);
  padding: 10px 20px;
  border: none;
  border-radius: 80px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .dish_content {
    padding: 0 30px;
  }
}
